# .easignore - tells EAS to upload everything except these patterns
# By creating this file, EAS CLI will use it instead of .gitignore
# and will upload untracked files (like google-services.json) unless excluded ici.

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

/lib/generated/prisma
